.carte-mei {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 2rem;
	content-visibility: visible !important;

	&__map {

		position: relative;
		width: 100%;
		aspect-ratio: 5/3;
		background-color: #ffffff4d;
		border-radius: 1rem;

		.gm-style .gm-fullscreen-control {
			width: 1.5rem !important;
			height: 1.5rem !important;
			margin: 0.5rem !important;

			img {
				width: 0.75rem !important;
				height: 0.75rem !important;
			}		
		}

		.mei-marker {
			width: 1.5rem;
			height: 1.5rem;
			// background-color: blue;
			background-image: var(--icon-marker);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			cursor: pointer;
		}

	}

}