.carte-mei {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 1rem;

	&__map {

		position: relative;
		width: 100%;
		aspect-ratio: 5/3;
		background-color: var(--color-alpha);
		border-radius: 1rem;
		box-shadow: 0 0.2rem 1rem 0.1rem var(--color-shadow);

		.gm-style .gm-fullscreen-control {
			border-radius: 0.5rem !important;
			width: 1.5rem !important;
			height: 1.5rem !important;
			margin: 0.5rem !important;
			box-shadow: 0 0.2rem 1rem 0.1rem var(--color-shadow);

			img {
				width: 0.75rem !important;
				height: 0.75rem !important;
			}		
		}

		&__markermask {
			display: none;
		}

		.mei-marker {
			width: 1.5rem;
			height: 1.5rem;
			background-image: var(--icon-marker);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			filter: drop-shadow(0 0 0.1rem var(--color-shadow));
			cursor: pointer;
			transform-origin: bottom center;
			transition-duration: 100ms;
			-webkit-clip-path: url(#clip-marker-pin);
					clip-path: url(#clip-marker-pin);

			&:hover {
				transform: scale(1.1);
			}
		}




	}

	.mei-center {
		position: relative;
		background-color: white;
		border-radius: 0.5rem;
		width: 1.5rem;
		height: 1.5rem;
		margin: 0.75rem 0.5rem;
		right: 0 !important;
		cursor: pointer;
		box-shadow: 0 0.2rem 1rem 0.1rem var(--color-shadow);

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-image: var(--icon-center);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 72%;
			opacity: 0.55;
			transition: opacity 50ms;
		}

		&:hover {
			&::before {
				opacity: 0.8;
			}
		}
	}

	.mapinfo {
		margin-top: 0.5rem;
		margin-left: 0.5rem;
		max-width: calc(100% - 3rem);
		border-radius: 0.5rem;
		background-color: var(--color-red);
		transform-origin: top left;
		transform: scale(0);
		transition: transform 200ms;
		padding: 0.25rem;
		box-shadow: 0 0.2rem 1rem 0.1rem var(--color-shadow);

		&.show {
			transform: scale(1);
		}

		&__content {
			display: flex;
			flex-direction: row;

			img {
				flex-shrink: 0;
				border-radius: 0.5rem;
				width: 3rem;
				height: 3rem;
				object-fit: cover;
			}

			div {
				
				padding: 0 0.25rem;
				font-size: 0.8rem;

				a {
					&[target="_blank"][href*="instagram"]::after {
						content: '';
						display: inline-block;
						width: 1em;
						aspect-ratio: 1/1;
						background-image: var(--icon-insta);
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
						margin-left: 0.2em;
						margin-bottom: 0.1em;
						vertical-align: middle;
					}
				}

			}

		}

	}

}