@use 'sass:string';

$font-family: Logic;
$font-logo: Dazzle;

$font-base:   26;
$font-break:  1024;
$font-resp:   calc($font-base * 100 / $font-break);

$color-fg: #2c231a;
// $color-fg: #000;
$color-bg-1: #fef3d5;
$color-bg-2: #fef3d5;

$color-blue: #1a0088;
$color-green: #b8ce52;
$color-red: #ff5e32;

$color-blue-hex: string.unquote('#{string.slice(ie-hex-str($color-blue), 4)}');
$color-green-hex: string.unquote('#{string.slice(ie-hex-str($color-green), 4)}');
$color-red-hex: string.unquote('#{string.slice(ie-hex-str($color-red), 4)}');



:root {
	--font-family: #{$font-family};
	--font-logo: #{$font-logo};
    --font-size-base:  #{$font-base}px;
    --font-size-break: #{$font-break}px;
    --font-size-resp:  #{$font-resp}vw;
    --font-size:       min(var(--font-size-resp), var(--font-size-base));

	--color-fg: #{$color-fg};
	--color-bg-1: #{$color-bg-1};
	--color-bg-2: #{$color-bg-2};

	--color-blue: #{$color-blue};
	--color-green: #{$color-green};
	--color-red: #{$color-red};


	--icon-etoile: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='34 21 165 166'%3E%3Cpath fill='%23#{$color-red-hex}' fill-rule='evenodd' d='m104 23-1 16-1 24v12l-4-4C87 61 63 41 61 41S47 55 47 58c0 2 3 4 22 21l8 8c0 1-7 1-17-1s-23-2-25-1l-1 13c0 13-1 12 14 12l12 2 10 1 7 1-4 4a1205 1205 0 0 0-34 28c0 2 9 16 12 16h3a185 185 0 0 0 25-19l7-6c7-6 11-7 12-5a438 438 0 0 1 0 53c0 2 1 2 12 2h12v-29l2-29 20 20c13 13 20 19 22 19s15-13 15-15l-15-16-15-16h6a534 534 0 0 0 37 4c6 0 5 1 5-12l-1-13-28-2-27-3c-2-2 0-3 27-22 16-10 17-12 12-19-5-6-9-11-11-11s-7 3-15 10c-12 10-27 20-28 19V47c1-16 2-24 1-25l-13-1c-11 0-12 0-12 2'/%3E%3C/svg%3E");
}


