@use 'sass:string';

$font-family:  Logic;
$font-logo:    Dazzle;
$font-spacing: -0.07em;

$font-base:   28;
$font-break:  1024;
$font-resp:   calc($font-base * 100 / $font-break);

$drift-time:  30s;
$scroll-top:  11rem;

$particule-size-1: 2.5em;
$particule-size-2: 1.75em;

$color-fg:    #2c231a;
$color-bg:    #fef3d5;
$color-blue:  #1a0088;
$color-green: #b8ce52;
$color-red:   #ff5e32;

$color-blue-hex:  string.unquote('#{string.slice(ie-hex-str($color-blue), 4)}');
$color-green-hex: string.unquote('#{string.slice(ie-hex-str($color-green), 4)}');
$color-red-hex:   string.unquote('#{string.slice(ie-hex-str($color-red), 4)}');
