@font-face {
	font-family: 'Dazzle';
	font-display: block;
	src: url(./fonts/dazzle-unicase-bold.woff2) format("woff2");;
}


@font-face {
	font-family: 'Logic';
	font-display: block;
	src: url(./fonts/logic-monospace-light.woff2) format("woff2");;
}