@use "swiper/swiper-bundle.css";


.gallery-swiper {

	// height: 10rem;
	margin-top: 2rem;

	.gallery-card {
		position: relative;
    	aspect-ratio: 3/4;
		// background-color: red;
		background-image: var(--image);
		border-radius: 1rem;
		box-shadow: 0 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
		background-color: rgba(255, 255, 255, 0.3);
		// width: 10rem;
		
	}
}