* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    letter-spacing: var(--font-spacing);
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-top);
    font-size: var(--font-size);
}


body {
    position: relative;
    color: var(--color-fg);
    background-color: var(--color-bg);
    overflow-x: hidden;
    padding-top: var(--scroll-top);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    max-width: 100%;

    &::before {
        content: "";
        position: fixed;
        inset: calc(var(--scroll-top) / 2) 0 0 0;
        pointer-events: none;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-image: var(--icon-particule-1), var(--icon-particule-2), var(--icon-particule-1), var(--icon-particule-2), var(--icon-particule-1), var(--icon-particule-2), var(--icon-particule-1), var(--icon-particule-2), var(--icon-particule-1);
        background-size: var(--particule-size-1) var(--particule-size-1), var(--particule-size-2) var(--particule-size-2), var(--particule-size-1) var(--particule-size-1), var(--particule-size-2) var(--particule-size-2), var(--particule-size-1) var(--particule-size-1), var(--particule-size-2) var(--particule-size-2), var(--particule-size-1) var(--particule-size-1), var(--particule-size-2) var(--particule-size-2), var(--particule-size-1) var(--particule-size-1);
        animation: drift9 22s linear infinite alternate;
    }
}


@keyframes drift9 {
    0%   { background-position: 10% 20%, 70% 10%, 50% 80%, 25% 55%, 88% 35%, 12% 88%, 42% 18%, 65% 70%, 90% 62%; }
    50%  { background-position: 20% 60%, 80% 30%, 40% 20%, 15% 75%, 65% 12%, 30% 90%, 55% 35%, 72% 58%, 85% 78%; }
    100% { background-position: 15% 40%, 60% 80%, 90% 50%, 35% 25%, 78% 70%, 10% 65%, 48% 92%, 22% 12%, 70% 45%; }
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    hyphens: auto;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    height: 5rem;
    margin-bottom: 3rem;
    user-select: none;
    filter: grayscale(100);
    color: var(--color-green);

    &::before {
        content: '';
        height: 2.3rem;
        aspect-ratio: 136/75;
        background-image: var(--icon-logo);
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        margin-right: 0.5em;

    }
}


section {
    position: relative;
    width: 100%;
    max-width: calc(var(--font-size-break) - 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;

    &>div {
        position: relative;
        width: 88%;
        background-color: var(--color-green);
        border-radius: 2rem;
        padding: 2rem;
        box-shadow: 0 0.2rem 0.4rem 0.3rem rgba(0, 0, 0, 0.1);

        &::after {
            content: "";
            position: absolute;
            right: -1.6rem;
            top: -1.6rem;
            width: 4rem;
            aspect-ratio: 1/1;
            background-image: var(--icon-etoile);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            transform: rotate(15deg);
        }

    }

    h2 {
        font-weight: normal;
        font-family: var(--font-logo);
        text-transform: uppercase;
        letter-spacing: 0;
        color: var(--color-blue);
    }

    p {
        margin-top: 1rem;
        letter-spacing: var(--font-spacing);
    }

    ul {
        position: relative;
        margin: 0 2.5rem;
        padding-left: 0;
        list-style: none;
    }

    li {
        position: relative;
        margin-top: 1rem;

        &::before {
            content: '';
            position: absolute;
            left: -2.5em;
            top: 6px;
            width: 2em;
            height: 2em;
            background-repeat: no-repeat;
            background-image: var(--icon-arrow);
            background-size: contain;
        }
    }
}


section.intro-video {
    &>div {
        padding: 0;
        line-height: 0;
        aspect-ratio: 16/9;
        user-select: none;

        &>video {
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 2rem;
            display: block;
            object-fit: cover;
            background: var(--color-green);
            filter: contrast(115%);
        }

        &>div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0 3rem;

            &>div {
                font-family: var(--font-logo);
                text-transform: uppercase;
                font-size: 3rem;
                color: var(--color-bg);
                text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
                letter-spacing: 0;
            }

            &>div:nth-child(1) {
                text-align: left;
            }

            &>div:nth-child(2) {
                text-align: center;
            }

            &>div:nth-child(3) {
                text-align: right;
            }
        }

    }
}

section.notre-equipe {
    &>div>div {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;

        &>div:not(:first-child) {
            padding-top: 2rem;
        }

        &>div:nth-child(1) {
            flex: 0 0 8rem;
            align-self: flex-start;
            // aspect-ratio: 272/239;
            aspect-ratio: 1/1;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            // mask-image: var(--icon-explosion);
            // -webkit-mask-image: var(--icon-explosion);

            &.leonard-vidal {
                background-image: url(../images/equipe/leonard-vidal.webp);
            }

            &.catherine-lamoureux-schmidt {
                background-image: url(../images/equipe/catherine-lamoureux-schmidt.webp);
            }

            &.remi-fecteau {
                background-image: url(../images/equipe/remi-fecteau.webp);
            }

            &.louis-simon-poirier {
                background-image: url(../images/equipe/louis-simon-poirier.webp);
            }

            &.saskia-wagner {
                background-image: url(../images/equipe/saskia-wagner.webp);
            }

            &.alexis-gagnon {
                background-image: url(../images/equipe/alexis-gagnon.webp);
            }

        }

        &>div:nth-child(2) {
            padding: 0 0 0 1rem;

            &>div:nth-child(1) {
                font-size: 1.3em;
                white-space: nowrap;
                // font-weight: bold;
            }

            &>div:nth-child(2) {
                font-size: 1.1em;
            }

            &>div:nth-child(3) {
                padding-top: 0.5rem;
            }
        }

    }
}


a {
    color: var(--color-blue);

    &[href*="mailto:"]::after {
        content: '';
        display: inline-block;
        width: 1em;
        aspect-ratio: 1/1;
        background-image: var(--icon-mail);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0.1em;
    }
}