* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    overscroll-behavior: contain;
    font-size: var(--font-size);

    &.is-busy,
    &.is-busy * {
        cursor: wait !important;
        pointer-events: none !important;
    }

    &.is-working,
    &.is-working * {
        cursor: progress !important;
        pointer-events: none !important;
    }
}


body {
    color: var(--color-fg);
    background-color: var(--color-bg-1);
    overflow-x: hidden;

    padding-top: 12rem;

    // transition: background-color var(--scheme-transition-duration);

    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    min-height: 100dvh;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-weight: bold;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    // font-weight: 400;
    height: 5rem;
    margin-bottom: 2rem;
    opacity: 0.6;
    user-select: none;
    letter-spacing: var(--font-spacing);

    &::before {
        content: '';
        // width: 1.7em;
        height: 2.3rem;
        aspect-ratio: 136/75;
        background-image: var(--icon-logo);
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        margin-right: 0.5em;
        filter: grayscale(100);
    }
}

section {
    position: relative;
    width: 100%;
    max-width: var(--font-size-break);
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 6rem;
    // margin: 2rem 4rem;
    // margin-left: 4rem;
    // margin-right: 4rem;

    &.intro-video {
        & > div {
            // position: relative;
            padding: 0;
            overflow: hidden;
            line-height: 0;

            & > video {
                width: 100%;
                // padding: 0;
                // margin: 0;
            }

            & > div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // background-color: purple;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 0 5rem;

                & > div {
                    font-family: var(--font-logo);
                    text-transform: uppercase;
                    font-size: 3rem;
                    color: white;
                    text-shadow: 0 0 1rem rgba(0,0,0,0.5);
                }

                & > div:nth-child(1) {
                    text-align: left;
                }

                & > div:nth-child(2) {
                    text-align: center;
                }

                & > div:nth-child(3) {
                    text-align: right;
                }
            }
        
        }
    }
    
    &.notre-equipe {
        & > div > div {
            margin-top: 1rem;
            background-color: red;
        
        }
    }

    & > div {
        width: 85%;
        background-color: var(--color-green);
        border-radius: 2rem;
        padding: 2rem;
        box-shadow: 0 0.5rem 1rem 1rem rgba(0,0,0,0.3);

        &::after {
            content: "";
            position: absolute;
            // right: -2rem;
            // top: -2rem;
            right: 1.2rem;
            top: -1.8rem;
            width: 4rem;
            aspect-ratio: 1/1;
            // background-color: purple;
            background-image: var(--icon-etoile);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            transform: rotate(15deg);
        }
        
    }



    h2 {
        font-weight: normal;
        font-family: var(--font-logo);
        text-transform: uppercase;
    }

    p {
        margin-top: 1rem;
        letter-spacing: var(--font-spacing);
    }

    ol {
        margin: 0 2rem;
    }
    li {
         margin-top: 1rem;
         letter-spacing: var(--font-spacing);
    }
}