* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    letter-spacing: var(--font-spacing);
}


html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    scroll-padding-top: var(--scroll-top);
    overscroll-behavior: contain;
    font-size: var(--font-size);
}


body {
    color: var(--color-fg);
    background-color: var(--color-bg);
    overflow-x: hidden;
    padding-top: var(--scroll-top);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-weight: bold;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    height: 5rem;
    margin-bottom: 3rem;
    opacity: 0.6;
    user-select: none;

    &::before {
        content: '';
        height: 2.3rem;
        aspect-ratio: 136/75;
        background-image: var(--icon-logo);
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        margin-right: 0.5em;
        filter: grayscale(100);
    }
}


section {
    position: relative;
    width: 100%;
    max-width: var(--font-size-break);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
   
    & > div {
        width: 85%;
        background-color: var(--color-green);
        border-radius: 2rem;
        padding: 2rem;
        box-shadow: 0 0.5rem 1rem 1rem rgba(0,0,0,0.3);

        &::after {
            content: "";
            position: absolute;
            right: 1.0rem;
            top: -1.6rem;
            width: 4rem;
            aspect-ratio: 1/1;
            background-image: var(--icon-etoile);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            transform: rotate(15deg);
        }
        
    }

    h2 {
        font-weight: normal;
        font-family: var(--font-logo);
        text-transform: uppercase;
        letter-spacing: 0;
    }

    p {
        margin-top: 1rem;
        letter-spacing: var(--font-spacing);
    }

    ul {
        position: relative;
        margin: 0 2.5rem;
        padding-left: 0;
        list-style: none;
    }

    li {
        position: relative;
        margin-top: 1rem;

        &::before {
            content: '';
            position: absolute;
            left: -2.5em;
            top: 6px;
            width: 2em;
            height: 2em;
            background-repeat: no-repeat;
            background-image: var(--icon-arrow);
            background-size: contain;
        }
    }
}


section.intro-video {
    & > div {
        padding: 0;
        overflow: hidden;
        line-height: 0;
        aspect-ratio: 16/9;

        & > video {
            width: 100%;
        }

        & > div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0 5rem;

            & > div {
                font-family: var(--font-logo);
                text-transform: uppercase;
                font-size: 3rem;
                color: white;
                text-shadow: 0 0 1rem rgba(0,0,0,0.5);
                letter-spacing: 0;
            }

            & > div:nth-child(1) {
                text-align: left;
            }

            & > div:nth-child(2) {
                text-align: center;
            }

            & > div:nth-child(3) {
                text-align: right;
            }
        }
    
    }
}

section.notre-equipe {
    & > div > div {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
    
        & > div:not(:first-child) {
            padding-top: 2rem;
        }

        & > div:nth-child(1) {
            width: 10rem;
            flex: 0 0 10rem;
            align-self: flex-start;
            aspect-ratio: 272/239;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            mask-image: var(--icon-explosion);
            -webkit-mask-image: var(--icon-explosion);

            &.rene-levesque {
                background-image: url(../images/rene-levesque.webp);
            }

            &.lucien-bouchard {
                background-image: url(../images/lucien-bouchard.webp);
            }

            &.bernard-landry {
                background-image: url(../images/bernard-landry.webp);
            }
        }

        & > div:nth-child(2) {
            padding: 0 0 0 1rem;

            & > div:nth-child(1) {
                font-size: 1.5em;
            }
            & > div:nth-child(2) {
                font-size: 1.2em;
            }

            & > div:nth-child(3) {
                padding-top: 0.5rem;
            }
        }


    }
}


a {
    color: var(--color-blue);

    &[href*="mailto:"]::after {
        content: '';
        display: inline-block;
        width: 1em;
        aspect-ratio: 1/1;
        background-image: var(--icon-mail);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0.1em;
    }
}