* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    letter-spacing: var(--font-spacing);
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-top);
    font-size: var(--font-size);
}


body {
    position: relative;
    color: var(--color-fg);
    background-color: var(--color-bg);
    overflow-x: hidden;
    padding-top: var(--scroll-top);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    max-width: 100%;

    &::before {
        content: "";
        position: fixed;
        inset: calc(var(--scroll-top) / 2) 0 0 0;
        pointer-events: none;
        opacity: 0.6;
        background-repeat: no-repeat;
        background-image: var(--icon-particule-1), var(--icon-particule-2), var(--icon-particule-1), var(--icon-particule-2), var(--icon-particule-1), var(--icon-particule-2), var(--icon-particule-1), var(--icon-particule-2), var(--icon-particule-1);
        background-size: var(--particule-size-1) var(--particule-size-1), var(--particule-size-2) var(--particule-size-2), var(--particule-size-1) var(--particule-size-1), var(--particule-size-2) var(--particule-size-2), var(--particule-size-1) var(--particule-size-1), var(--particule-size-2) var(--particule-size-2), var(--particule-size-1) var(--particule-size-1), var(--particule-size-2) var(--particule-size-2), var(--particule-size-1) var(--particule-size-1);
        animation: drift9 22s linear var(--drift-time-delay) infinite alternate;
    }
}


@keyframes drift9 {
    0%   { background-position: 13.0% 23.6%, 43.0% 14.4%, 84.9% 10.3%, 29.0% 49.6%, 51.6% 40.0%, 85.4% 42.6%, 11.2% 83.9%, 55.7% 77.4%, 82.7% 71.1%; }
    10%  { background-position: 15.9% 27.4%, 44.5% 19.6%, 81.2% 9.1%, 27.4% 44.9%, 48.8% 42.3%, 81.8% 41.0%, 13.3% 88.7%, 53.4% 73.4%, 79.7% 72.2%; }
    20%  { background-position: 19.6% 28.4%, 47.9% 22.6%, 78.0% 11.9%, 23.8% 42.6%, 47.5% 47.7%, 79.0% 43.8%, 17.7% 90.6%, 48.7% 71.8%, 77.5% 75.0%; }
    30%  { background-position: 22.8% 26.1%, 52.0% 22.5%, 77.6% 17.6%, 19.4% 43.5%, 48.4% 54.6%, 78.9% 49.1%, 22.8% 88.8%, 44.7% 73.2%, 76.8% 79.1%; }
    40%  { background-position: 23.5% 21.9%, 55.5% 19.3%, 80.0% 24.0%, 16.8% 47.0%, 51.0% 60.1%, 81.3% 55.2%, 27.5% 84.6%, 43.5% 77.0%, 78.1% 83.6%; }
    50%  { background-position: 21.4% 18.1%, 57.0% 14.1%, 84.0% 28.5%, 17.8% 52.4%, 54.2% 62.3%, 85.0% 58.7%, 29.6% 79.8%, 46.9% 80.9%, 80.5% 86.8%; }
    60%  { background-position: 17.7% 17.1%, 55.1% 11.1%, 87.2% 25.7%, 22.2% 55.0%, 55.5% 56.9%, 87.8% 56.0%, 25.2% 77.9%, 51.6% 79.5%, 83.7% 83.9%; }
    70%  { background-position: 14.5% 19.4%, 51.0% 11.2%, 87.6% 20.0%, 26.6% 54.1%, 54.6% 50.0%, 87.9% 50.7%, 20.1% 79.7%, 55.6% 76.2%, 84.4% 79.8%; }
    80%  { background-position: 13.8% 23.6%, 47.5% 14.4%, 85.2% 13.6%, 29.2% 50.6%, 52.0% 44.5%, 85.5% 44.6%, 15.4% 83.9%, 56.8% 72.4%, 83.1% 75.3%; }
    90%  { background-position: 15.9% 27.4%, 45.9% 19.6%, 82.0% 9.6%, 27.4% 45.1%, 48.7% 42.2%, 82.2% 41.4%, 12.7% 88.7%, 54.4% 73.1%, 80.0% 72.4%; }
    100% { background-position: 13.0% 23.6%, 43.0% 14.4%, 84.9% 10.3%, 29.0% 49.6%, 51.6% 40.0%, 85.4% 42.6%, 11.2% 83.9%, 55.7% 77.4%, 82.7% 71.1%; }
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    hyphens: auto;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    height: 5rem;
    margin-bottom: 3rem;
    user-select: none;
    filter: grayscale(100);
    color: var(--color-green);
    z-index: -1;

    &::before {
        content: '';
        height: 2.3rem;
        aspect-ratio: 136/75;
        background-image: var(--icon-logo);
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        margin-right: 0.5em;

    }
}


section {
    position: relative;
    width: 100%;
    max-width: calc(var(--font-size-break) - 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;

    &>div {
        position: relative;
        width: 88%;
        background-color: var(--color-green);
        border-radius: 2rem;
        padding: 2rem;
        box-shadow: 0 0.2rem 0.4rem 0.3rem rgba(0, 0, 0, 0.1);

        &::after {
            content: "";
            position: absolute;
            right: -1.6rem;
            top: -1.6rem;
            width: 4rem;
            aspect-ratio: 1/1;
            background-image: var(--icon-etoile);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            transform: rotate(15deg);
        }

    }

    h2 {
        font-weight: normal;
        font-family: var(--font-logo);
        text-transform: uppercase;
        letter-spacing: 0;
        color: var(--color-blue);
    }

    p {
        margin-top: 1rem;
        letter-spacing: var(--font-spacing);
    }

    ul {
        position: relative;
        margin: 0 2.5rem;
        padding-left: 0;
        list-style: none;
    }

    li {
        position: relative;
        margin-top: 1rem;

        &::before {
            content: '';
            position: absolute;
            left: -2.5em;
            top: 6px;
            width: 2em;
            height: 2em;
            background-repeat: no-repeat;
            background-image: var(--icon-arrow);
            background-size: contain;
        }
    }
}


section.intro-video {
    &>div {
        padding: 0;
        line-height: 0;
        aspect-ratio: 16/9;
        user-select: none;

        &>video {
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 2rem;
            display: block;
            object-fit: cover;
            background: var(--color-green);
            filter: contrast(115%);
        }

        &>div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0 3rem;

            &>div {
                font-family: var(--font-logo);
                text-transform: uppercase;
                font-size: 3rem;
                color: var(--color-bg);
                text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
                letter-spacing: 0;
            }

            &>div:nth-child(1) {
                text-align: left;
            }

            &>div:nth-child(2) {
                text-align: center;
            }

            &>div:nth-child(3) {
                text-align: right;
            }
        }

    }
}

section.notre-equipe {
    &>div>div {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;

        &>div:not(:first-child) {
            padding-top: 2rem;
        }

        &>div:nth-child(1) {
            flex: 0 0 8rem;
            align-self: flex-start;
            // aspect-ratio: 272/239;
            aspect-ratio: 1/1;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            // mask-image: var(--icon-explosion);
            // -webkit-mask-image: var(--icon-explosion);

            &.leonard-vidal {
                background-image: url(../images/equipe/leonard-vidal.webp);
            }

            &.catherine-lamoureux-schmidt {
                background-image: url(../images/equipe/catherine-lamoureux-schmidt.webp);
            }

            &.remi-fecteau {
                background-image: url(../images/equipe/remi-fecteau.webp);
            }

            &.louis-simon-poirier {
                background-image: url(../images/equipe/louis-simon-poirier.webp);
            }

            &.saskia-wagner {
                background-image: url(../images/equipe/saskia-wagner.webp);
            }

            &.alexis-gagnon {
                background-image: url(../images/equipe/alexis-gagnon.webp);
            }

        }

        &>div:nth-child(2) {
            padding: 0 0 0 1rem;

            &>div:nth-child(1) {
                font-size: 1.3em;
                white-space: nowrap;
                // font-weight: bold;
            }

            &>div:nth-child(2) {
                font-size: 1.1em;
            }

            &>div:nth-child(3) {
                padding-top: 0.5rem;
            }
        }

    }
}


a {
    color: var(--color-blue);

    &[href*="mailto:"]::after {
        content: '';
        display: inline-block;
        width: 1em;
        aspect-ratio: 1/1;
        background-image: var(--icon-mail);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0.1em;
    }
}