section.medias {
    & > div > div {
		margin-top: 2rem;
		// background-color: purple;
		display: grid;
		grid-template-columns: repeat(3, 1fr); /* 3 de large */
		gap: 1rem;

		& > a {
			background-color: var(--color-red);
			display: flex;
			flex-direction: column;
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
			overflow: hidden;
			text-decoration: none;
			color: var(--color-fg);
			box-shadow: 0 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.5);

			img {
				display: block;
				width: 100%;
			}

			& > div:nth-of-type(1) {
				hyphens: auto;
				font-size: 0.8rem;
				padding: 0.7rem;
				// font-weight: normal;
			}

			& > div:nth-of-type(2) {
				hyphens: auto;
				font-size: 0.7rem;
				padding: 0.5rem;
				text-align: right;
				margin-top: auto; 
				// font-weight: normal;
			}
		}
	}

}