section.medias {
    & > div > div {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		margin-top: 2rem;

		& > a {
			// background-color: var(--color-red);
			// background-color: rgba(0, 0, 0, 0.2);
			// background-color: var(--color-bg);
			background-color: rgba(255, 255, 255, 0.3);
			display: flex;
			flex-direction: column;
			border-radius: 0.5rem;
			overflow: hidden;
			text-decoration: none;
			color: var(--color-fg);
			box-shadow: 0 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.5);
			transition-property: transform;
			transition-duration: 100ms;
			
			&:hover {
				transform: scale(1.03);
			}

			& > img {
				display: block;
				width: 100%;
			}

			& > div:nth-of-type(1) {
				hyphens: auto;
				font-size: 0.8rem;
				padding: 0.7rem;
			}

			& > div:nth-of-type(2) {
				hyphens: auto;
				font-size: 0.7rem;
				padding: 0.5rem;
				text-align: right;
				margin-top: auto; 
			}
		}
	}

}