:root{
  --logo-w: 60vmin;

  --header-h: 20rem;   /* hauteur courante (pilotée par body.scrollTop) */
//   --header-max: 160px; /* calculée au load/resize */
//   --header-min: 80px;
}

// html{
//   height: 100%;
//   overflow: hidden; /* IMPORTANT: pas de scroll sur html */
// }

// body{
//   height: 100%;
//   margin: 0;

//   overflow-y: auto; /* IMPORTANT: c’est le BODY qui scroll */
//   padding-top: var(--header-max); /* FIXE (sinon tu brises le 1:1) */
// }

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	// height: var(--header-h);
	z-index: 2147483647;

	background: var(--color-bg-2);
	// border-bottom: 1px solid rgba(0, 0, 0, .08);
	// overflow: hidden;

	/* PAS de transition si tu veux un 1:1 strict */
}



.site-header__inner {
	// background-color: green;
	height: 100%;
	display: flex;
	align-items: top;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem 1rem;
	align-items: stretch;
	// overflow: visible;
}

.brand {
	flex-shrink: 0;
	width: 12.40em;
	// background-color: red;
	color: var(--color-blue);
	height: 100%;
	display: flex;
	align-items: left;
	min-width: 0;
	flex-direction: column;
	text-decoration: none;
	font-size: 1.5rem;
	font-family: var(--font-logo);
	background-image: var(--icon-logo);
	background-repeat: no-repeat;
	background-position: center right;
	height: 4em;

	& > div {
		// background-color: purple;
		font-family: inherit;
		letter-spacing: 0.025em;
		// background-color: purple;
	}

	& > div:nth-child(2) {
		font-size: 1.39em;
		margin-top: -0.13em;
	}

	& > div:nth-child(3) {
		font-size: 0.745em;
		margin-top: -0.13em;
	}

}

// .brand img {
// 	width: var(--logo-w);
// 	height: auto;
// 	max-height: 100%;
// 	display: block;
// }

.menu {
	// background-color: green;
	display: flex;
	gap: 0.5rem;
	white-space: nowrap;
	flex-wrap: nowrap;
	align-items: stretch;
	// font-family: var(--font-logo);
	// font-family: Arial;



	@media (max-width: 1024px) {
		display: none;
	}




	&__social-medias {
		display: flex;
		gap: 0.5rem;
		white-space: nowrap;
		flex-wrap: nowrap;



		&__instagram {
			background-image: var(--icon-instagram);
		}

		&__youtube {
			background-image: var(--icon-youtube);
		}

	}

	a {
		height: auto;
		align-self: flex-start;
		font-family: var(--font-logo);
		color: var(--color-blue);
		// background-color: purple;
		& > div {
			width: 1.3em;
			aspect-ratio: 1/1;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			// background-color: red;
		}
	}
	
}


header:has(.burger.open) {
	.menu {
		display: flex;
		position: absolute;
		flex-direction: column;
		top: 100%;
		right: 0;
		background-color: var(--color-bg-2);
		font-size: 2.5rem;
		width: 100%;
		align-items: center;
		padding: 0.5em 0;
		a {
			align-self: auto;
			margin-bottom: 0.2em;
		}
	}
}


.burger {
	display: none;
	width: 3rem;
	aspect-ratio: 1/1;
	align-self: flex-start;
	background-image: var(--icon-burger);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	outline: none;
	border: 0;
	transition-property: transform;
	transition-duration: 100ms;
	cursor: pointer;
	
	&.open {
		transform: rotate(-90deg);
	}


	@media (max-width: 1024px) {
		display: block;
	}


}

/* IMPORTANT: offset effectif du contenu = header-h (sans layout shift) */
// .page {
// 	transform: translateY(calc(var(--header-h) - var(--header-max)));
// 	will-change: transform;
// }